*{
  font-family: "poppins";
}

.Header{
  font-weight: 300;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.App{
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

.tasklist-calendar{
  display: flex;
  justify-content: space-between;
  margin-right: 10rem;
}


.task-card{
  background-color: rgb(212, 212, 212);
}


